@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #405161;
  --borderFormEls: hsl(0, 0%, 53%);
  --bgFormEls: hsl(0, 0%, 35%);
  --bgFormElsFocus: rgb(48, 127, 247);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

#url, #text {
  display: none;
}

input,
button,
textarea,
select {
  margin:1% auto;
	margin-right: auto; margin-left: auto; width: 21%; 
	padding-top: 11px;
  display: block;
  font-family: inherit;
  font-size: 100%;
  border-radius: 10px;
  text-align: center;
}

button,
label,select {
  cursor: pointer;
}

/* Remove native arrow on IE */
select::-ms-expand {
  display: none;
}

select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 var(--white);
}

ul {
  list-style: none;
}

body {
  font: 18px/1.5 "Open Sans", sans-serif;
  background: black;
  color: white;
  margin: 1.5rem 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.summary {
  width: 90%;
  height: 70vh;
  border: 5px solid white;
  margin: 5vh auto;
  padding: 0 1.5rem;
  display: block;
  overflow: auto;
  text-align:justify;
}

.summary p {
  margin: 5vh auto;
}

/* FORM ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
  margin-bottom: 1.5rem;
  color: rgb(48, 127, 247);
}

#h1 {
    color: white;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: medium;
}

.my-form li,
.my-form .grid > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.my-form input, textarea, select{
  border-radius: 10px;
  width: 70%;
  line-height: 1.5;
  padding: 15px 10px;
  border: 1px solid var(--borderFormEls);
  color: white;
  background: black;
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.my-form button {
  width: 50%;
  line-height: 1.5;
  padding: 15px 10px;
  border: 1px solid var(--borderFormEls);
  color: white;
  background: rgb(99, 156, 243);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.my-form ::placeholder {
  color: inherit;
  /*Fix opacity issue on Firefox*/
  opacity: 1;
}

.my-form button:enabled:hover,
.my-form button:focus{
  background: var(--bgFormElsFocus);
}

/* FORM BTNS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.my-form .btn-grid {
  position: relative;
  overflow: hidden;
  transition: filter 0.2s;
}

.my-form button {
  font-weight: bold;
}


/* FOOTERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#footer {
    color: white;
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
}

#footer a {
  text-decoration: none;
  color: rgb(99, 156, 243);
}

#footer span {
  color: var(--red);
}

#footer2 {
    color: white;
    text-align: center;
    position:relative;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
}

#footer2 a {
  text-decoration: none;
  color: rgb(99, 156, 243);
}

#footer2 span {
  color: var(--red);
}


/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 600px) {


  .my-form .grid {
    display: grid;
    grid-gap: 1.5rem;
  }

  .my-form .grid > *:not(:last-child) {
    margin-bottom: 0;
  }

  .my-form .required-msg {
    display: block;
  }
}

@media screen and (min-width: 541px) {
  textarea {
    height: 15em;
    width: 30em;
  }

}

@media screen and (max-width: 480px) {
  textarea {
    height: 10vh;
    width: 70vw;
  }
  input,select {
    font-size: 4vw;
    height: 8vh;
    width: 60vw;
  }
  button {
    font-size: 4vw;
    height: 8vh;
    width: 50vw;
    padding: 0;
    margin:auto;
  } 
  .summary {
  width: 100%;
  height: 70vh;

  margin: 3vh auto 6vh;

  }
}
